/* tables */
table.sortable thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.sortable thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.sortable thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp {
  background-color: #c9e8f6;
}

table.sortable thead tr th:not(:last-child) {
  border-right: 1px solid #ddd;
}

/* Override Core's zebra striping */
table.sortable tr:nth-child(odd) {
  background-color: #fff;
}

table.sortable tr:nth-child(even) {
  background-color: #f9f9f9;
}

table th .footnote-source a {
	display: inline;
}

.footnote-target {
	display: block;
}
